<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Recipe book</title>
</head>
<body>
    <div>
        <h1>Recipe book</h1>
        {{#each recipes}}
            {{> 
                recipe 
                name=name 
                ingredients=ingredients
            }}
        {{/each}}
    </div>
</body>
</html>